# LISTS

In [12]:
list1=[1,2,3,5,8,9]
print(list1[0:4])
print(list1[0:5])
print(list1[0:-1])
print(list1[0:-2])

[1, 2, 3, 5]
[1, 2, 3, 5, 8]
[1, 2, 3, 5, 8]
[1, 2, 3, 5]

In [13]:
list1=[10,20,30,40,50,60]
list1[0:4:2]

[10, 30]

In [14]:
list1=["python",3,6,"hyd"]
print(list1)
list1[1]="gitam"
list1[0:4]

['python', 3, 6, 'hyd']

['python', 'gitam', 6, 'hyd']

In [15]:
del list1[1]
list1

['python', 6, 'hyd']

In [17]:
l=[2,5,7,1,8,4]
len(l)
l*2
print(4 in l)
print(10 not in l)
print(l)
for i in l:
    print(l)

True
True
[2, 5, 7, 1, 8, 4]
[2, 5, 7, 1, 8, 4]
[2, 5, 7, 1, 8, 4]
[2, 5, 7, 1, 8, 4]
[2, 5, 7, 1, 8, 4]
[2, 5, 7, 1, 8, 4]
[2, 5, 7, 1, 8, 4]

In [18]:
print(l)
for i in range(len(l)):
    print(l[i])

[2, 5, 7, 1, 8, 4]
2
5
7
1
8
4

In [19]:
print(l)
print(max(l))
print(min(l))
print(sum(l))
print((sum(l)/len(l)))

[2, 5, 7, 1, 8, 4]
8
1
27
4.5

In [21]:
print(l)
l.append("python")
l.insert(0,"gitam")

['gitam', 2, 5, 7, 1, 8, 4, 'python']

In [23]:
print(l.count(4))
print(l.index(2))

1
2

In [24]:
list1=[6,89,3,2,1,78]
list1.sort()
list1

[1, 2, 3, 6, 78, 89]

In [25]:
print(list1)
list1.pop()

[1, 2, 3, 6, 78, 89]

89

In [26]:
print(list1)
list1.pop(2)

[1, 2, 3, 6, 78]

3

In [28]:
li1=[1,2,3]
list1.extend(li1)
list1

[1, 2, 78, 1, 2, 3]

In [29]:
list1.reverse()
list1

[3, 2, 1, 78, 2, 1]

In [32]:
def largestnumber(li):
    li.sort()
    print(i)
    return li[-1]
li=[3,45,32,67,890,1]
largestnumber(li)

5

890